mixin element-input(type, placeholder, id, img, value)
  input.element-input__textfield(type=type, placeholder=placeholder, id=id, value=value)
  button.element-input__btn(type='submit')
    img.element-input__img(src=img, alt="")