mixin rate-button(name, checked5, checked4, id1, id2, id3, id4, id5)
  .star-rating__element
    input(type="radio" name=name id=id5 checked=checked5)
    label(for=id5)
    input(type="radio" name=name id=id4 checked=checked4)
    label(for=id4)
    input(type="radio" name=name id=id3)
    label(for=id3)
    input(type="radio" name=name id=id2)
    label(for=id2)
    input(type="radio" name=name id=id1)
    label(for=id1)